<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,74}</string>
                <key>spriteSourceSize</key>
                <string>{220,74}</string>
                <key>textureRect</key>
                <string>{{228,713},{220,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advBtn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,74}</string>
                <key>spriteSourceSize</key>
                <string>{220,74}</string>
                <key>textureRect</key>
                <string>{{228,789},{220,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{457,691},{37,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>advIcon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{457,645},{44,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,34}</string>
                <key>spriteSourceSize</key>
                <string>{194,34}</string>
                <key>textureRect</key>
                <string>{{228,903},{194,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar1Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{228,865},{196,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,74}</string>
                <key>spriteSourceSize</key>
                <string>{220,74}</string>
                <key>textureRect</key>
                <string>{{228,713},{220,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,73}</string>
                <key>spriteSourceSize</key>
                <string>{187,73}</string>
                <key>textureRect</key>
                <string>{{1,911},{187,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,122}</string>
                <key>spriteSourceSize</key>
                <string>{226,122}</string>
                <key>textureRect</key>
                <string>{{1,589},{226,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,122}</string>
                <key>spriteSourceSize</key>
                <string>{226,122}</string>
                <key>textureRect</key>
                <string>{{229,589},{226,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,73}</string>
                <key>spriteSourceSize</key>
                <string>{187,73}</string>
                <key>textureRect</key>
                <string>{{190,939},{187,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,73}</string>
                <key>spriteSourceSize</key>
                <string>{187,73}</string>
                <key>textureRect</key>
                <string>{{1,986},{187,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,73}</string>
                <key>spriteSourceSize</key>
                <string>{187,73}</string>
                <key>textureRect</key>
                <string>{{190,1014},{187,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,73}</string>
                <key>spriteSourceSize</key>
                <string>{187,73}</string>
                <key>textureRect</key>
                <string>{{1,1061},{187,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,73}</string>
                <key>spriteSourceSize</key>
                <string>{187,73}</string>
                <key>textureRect</key>
                <string>{{190,1089},{187,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,73}</string>
                <key>spriteSourceSize</key>
                <string>{187,73}</string>
                <key>textureRect</key>
                <string>{{1,1136},{187,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,73}</string>
                <key>spriteSourceSize</key>
                <string>{187,73}</string>
                <key>textureRect</key>
                <string>{{1,1211},{187,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,73}</string>
                <key>spriteSourceSize</key>
                <string>{187,73}</string>
                <key>textureRect</key>
                <string>{{265,1089},{187,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>closeBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{457,589},{54,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,100}</string>
                <key>spriteSourceSize</key>
                <string>{83,100}</string>
                <key>textureRect</key>
                <string>{{426,886},{83,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,92}</string>
                <key>spriteSourceSize</key>
                <string>{38,92}</string>
                <key>textureRect</key>
                <string>{{450,792},{38,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,196}</string>
                <key>spriteSourceSize</key>
                <string>{225,196}</string>
                <key>textureRect</key>
                <string>{{1,713},{225,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{450,730},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,68}</string>
                <key>spriteSourceSize</key>
                <string>{61,68}</string>
                <key>textureRect</key>
                <string>{{425,1158},{61,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,100}</string>
                <key>spriteSourceSize</key>
                <string>{83,100}</string>
                <key>textureRect</key>
                <string>{{379,988},{83,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,100}</string>
                <key>spriteSourceSize</key>
                <string>{83,100}</string>
                <key>textureRect</key>
                <string>{{379,1073},{83,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,100}</string>
                <key>spriteSourceSize</key>
                <string>{83,100}</string>
                <key>textureRect</key>
                <string>{{340,1158},{83,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,489}</string>
                <key>spriteSourceSize</key>
                <string>{586,489}</string>
                <key>textureRect</key>
                <string>{{1,1},{586,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{510,1285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bc5828a65feea3906e5b653e75c40f9:c6404c767f9864ee9b8a23645316151a:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
